<section>
  <h1>Welcome</h1>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="greet">Greet</a></li>
    <li><a routerLink="employees">Employee list</a></li>
    <li><a routerLink="company">Company</a></li>
  </ul>
</section>
<router-outlet></router-outlet>


<!-- <p>Agree: {{agree}} Disgree: {{disgree}}</p>
<input type="text" #textName (keyup) = "0"/>
<button (click) = "changeName()">Change name</button> -->
<!-- <app-greet *ngFor = "let person of names" [name]="person" (onVote)="parentVote($event)"></app-greet> -->
<!-- <app-greet (onVote)="parentVote($event)"></app-greet> -->
