<p>Child component: {{name}} </p>

<table *ngFor="let author of authors">
  <tr>
    <td>{{author.firstName}}</td>
    <td>{{author.lastName}}</td>
    <td>{{author.age}}</td>
    <td>{{author.genre}}</td>
  </tr>
</table>

<button [disabled] = "voted" (click) = "vote(true)">agree</button>
<button [disabled] = "!voted" (click) = "vote(false)">disgree</button>
Result: {{voted}}

<div>Date today: {{today | date:"fullDate"}}</div>

<form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" minlength="6" maxlength="10" required name="name" #name="ngModel" ngModel/>
        <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger" >
            <div [hidden]="!name.errors?.['required']">
                Name is required
            </div>
            <div [hidden]="!name.errors?.['minlength']">
                Name must be at least 6 characters long.
            </div>
            <div [hidden]="!name.errors?.['maxlength']">
                Name is maxlength
            </div>
        </div>
    </div>
    <div ngModelGroup="address">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ngModel/>
        </div>
        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control"  name="street" ngModel/>
        </div>
    </div>
    <div class="form-group">
        <label>City</label>
        <select class="form-control" required name="city" ngModel>
            <option *ngFor="let city of cities" value="{{city.Id}}">{{city.Name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Postal Code</label>
        <input type="text" pattern="[1-9][0-9]{4}$" class="form-control" name="postalCode" #postalCode="ngModel" ngModel/>
        <div *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)" class="alert alert-danger" >
            <div [hidden]="!postalCode.errors?.['pattern']">
                postalCode is [1-9][0-9]
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>